body {
    background-color: #A8D0E6;
    font-family: ProximaNova-Black;
    text-align: center;
    font-size: 20px;
    line-height: 45px;
    background-image: url("space.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}

div{
    
}

.day-box.Prep{
    border: 1px solid yellow;
}

.day{
    border: 2px solid black;
}
.person_info{
    border: none;
}

.person_image{
    float:right;
    padding: 15px;
}

.username{
    font-size: 30px;
    float:right;
    padding:15px;
}


.day{
    font-family: Times New Roman;
    font-size: 35px;
}


ul {
  list-style-type: none;
  padding: 0;
  overflow: hidden;
}


.nav {
    display: block;
    margin: 0;
    background-color: #FFFFFF;
    color: black;
    padding: 15px;
}


.nav a {
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  color: #000000;
}

a{
    border: 2px solid black;
    padding: 15px 25px;
    background-color: #AD2A1A;
    color:white;
}
a:hover{
    
    color:white;
    font-size: 26px;
    background-color: #C02F1D;
    background-color: red;
}

.username{
    font-family: Times New Roman;
    color: black;
}
.assignment_link{
    float: right;
}

.day{
    float: left;
}